<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nội Thất Huế</title>
      <link rel="stylesheet" href="../vendor/style2.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
         integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
         crossorigin="anonymous"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <div class="header-wrapper">
               <div class="col header-inner">
                <input id="checkbtn" type="checkbox" class="nav-input" hidden>
                <div class="menu-mobile">
                    <label class="checkbtn-ful" for="checkbtn">
                        <ul class="nav-mobile">
                            <li>
                                <input  type="text">
                                <i class="fa fa-search fa-1x" type="button" style="color: #fff;"></i></li>
                           <li><a href="#">Trang chủ</a></li>
                           <li><a href="#">Giới thiệu</a></li>
                           <li><a href="#">Thiết kế nhà phố</a></li>
                           <li><a href="#">Thiết kế biệt thự</a></li>
                           <li><a href="#">Thư viện mẫu</a></li>
                           <li><a href="#">Bảng giá</a></li>
                           <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </label>
                    
                 </div>
                  <div class="logo">
                     <a href="../layout/index.html" >
                     <img src="../vendor/image/Nội Thất Huế Logo.png" alt="noithathue">
                     </a>
                  </div>
                  <div class="mobile-nav-icon ">
                    <label for="checkbtn"><i class="fa fa-bars"></i></label> 
                    
                  </div>
                  <div class="header-menu-right">
                     <ul class="nav-header">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Thiết kế nhà phố</a></li>
                        <li><a href="#">Thiết kế biệt thự</a></li>
                        <li><a href="#">Thư viện mẫu</a></li>
                        <li><a href="#">Bảng giá</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><i class="fa fa-search fa-1x" style="color: #fff;"></i></li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>
         <main>
            <div class="container">
               <section>
                  <div id="carouselExampleControls" class="carousel slider-margin slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item ">
                           <img src="/vendor/image/slider1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item ">
                           <img src="/vendor/image/slider2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active">
                           <img src="/vendor/image/slider3.jpg" class="d-block w-100" alt="...">
                        </div>
                     </div>
                     <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                        data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </button>
                     <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                        data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </button>
                  </div>
               </section>
               <section class="section-content">
                  <div class="row ">
                     <div class="col">
                        <div class="title-post">
                           <H2>Thiết kế kiến trúc, thiết kế thi công nội thất</H2>
                        </div>
                        <div class="tag__content">
                           <p>
                              [NHADEP365] chuyên tư vấn thiết kế kiến trúc, thiết kế nội thất biệt thự, thiết kế nội thất chung cư,
                              thiết kế nội thất nhà lô, thi công hoàn thiện nội thất đồng bộ và những sản phẩm nội thất sản xuất thủ
                              công. Với đội ngũ Kiến trúc sư chính quy hơn 10 năm kinh nghiệm vẫn miệt mài hoạt động thiết kế sáng tạo
                              , đã thành dẫn chứng sắt thép cho đam mê đích thực với nghề thiết kế kiến trúc và nội thất. Trải qua rất
                              nhiều công trình thực tế với những khách hàng kỹ tính nhất, Nhà Đẹp 365 luôn nỗ lực từng ngày để thực sự
                              trở thành thương hiệu thiết kế kiến trúc và thiết kế nội thất chuyên nghiệp Việt nam.
                           </p>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                  <div class="section-content">
                     <div class="row">
                        <div class="col-md-3 col-sm-6 ">
                           <div class="col tag-content">
                              <div class="icon-box-img">
                                 <div class="icon">
                                    <div class="icon-inner">
                                       <img src="../vendor/image/camketvang.png">					
                                    </div>
                                 </div>
                              </div>
                              <div class="icon-box-text">
                                 <h6 ><span><strong>Cam kết vàng</strong></span></h6>
                                 <p><span>Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận</span></p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6  boder-cart-post">
                           <div class="col tag-content">
                              <div class="icon-box-img">
                                 <div class="icon">
                                    <div class="icon-inner">
                                       <img src="../vendor/image/camketvang.png">					
                                    </div>
                                 </div>
                              </div>
                              <div class="icon-box-text">
                                 <h6 ><span><strong>Hỗ trợ tận nơi</strong></span></h6>
                                 <p><span>Chúng tôi hỗ trợ khách hàng tận nơi nội thành Hà Nội và Tp. HCM</span></p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 boder-cart-post">
                           <div class="col tag-content">
                              <div class="icon-box-img">
                                 <div class="icon">
                                    <div class="icon-inner">
                                       <img src="../vendor/image/camketvang.png">					
                                    </div>
                                 </div>
                              </div>
                              <div class="icon-box-text">
                                 <h6 ><span><strong>Hợp đồng rõ ràng</strong></span></h6>
                                 <p><span>Làm việc phải có hợp đồng để đôi bên hợp tác thành công và bảo đảm</span></p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 boder-cart-post">
                           <div class="col tag-content">
                              <div class="icon-box-img">
                                 <div class="icon">
                                    <div class="icon-inner">
                                       <img src="../vendor/image/camketvang.png">					
                                    </div>
                                 </div>
                              </div>
                              <div class="icon-box-text">
                                 <h6 ><span><strong>Kinh nghiệm thực tế</strong></span></h6>
                                 <p><span>Với hơn 15 năm kinh nghiệm đem lại giá trị vững bền cho khách hàng</span></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                  <div class="row section-show-all">
                     <div class="col-4 row--bodyleft">
                        <i class="fas fa-star" ></i>
                        <span>THIẾT KẾ BIỆT THỰ</span>
                     </div>
                     <div class="col-8 d-flex justify-content-end row--bodyright">
                        <p>+ Xem tất cả ></p>
                     </div>
                  </div>
                  <div class=" row cart-post ">
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/11.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/11113.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/12.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/14.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/15.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/16.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/17.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/9.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                  <div class="row section-show-all">
                     <div class="col-4 row--bodyleft">
                        <i class="fas fa-star" ></i>
                        <span>THIẾT KẾ NHÀ PHỐ</span>
                     </div>
                     <div class="col-8 d-flex justify-content-end row--bodyright">
                        <p>+ Xem tất cả ></p>
                     </div>
                  </div>
                  <div class=" row cart-post ">
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/11.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/11113.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/12.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/14.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/15.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/16.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3  ">
                        <div class="row">
                           <div class="col ">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/17.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                           <div class="col">
                              <div class="card__post--margin">
                                 <img class="img--cartpost" src="/vendor/image/nha pho/9.jpg" alt="Denim Jeans" style="width:100%">
                                 <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                  <div class="row section-show-all">
                     <div class="col-4 row--bodyleft">
                        <i class="fas fa-star" ></i>
                        <span>THIẾT KẾ NỘI THẤT</span>
                     </div>
                     <div class="col-8 d-flex justify-content-end row--bodyright">
                        <p>+ Xem tất cả ></p>
                     </div>
                  </div>
                  <div class=" row cart-post ">
                     <div class="col">
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col ">
                                 <div class="card-post-lg">
                                    <img class="img-cart-post-lg" src="/vendor/image/noi that/thiet-ke-noi-that-04-800x445.jpg" alt="Denim Jeans" style="width:100%">
                                    <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/19.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/18.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/16-1.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/123.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                  <div class="row">
                     <div class="col">
                        <div class="row section-show-all">
                           <div class="col-5 row--bodyleft">
                              <i class="fas fa-star" ></i>
                              <span>THI CÔNG TỦ BẾP</span>
                           </div>
                           <div class="col-7 d-flex justify-content-end row--bodyright">
                              <p>+ Xem tất cả ></p>
                           </div>
                        </div>
                        <div class=" row cart-post ">
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/16-1.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/16-1.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/16-1.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col">
                                    <div class="card__post--margin">
                                       <img class="img--cartpost" src="/vendor/image/noi that/16-1.jpg" alt="Denim Jeans" style="width:100%">
                                       <h6 class="pcart">Cam kết hoàn thành tiến độ chính xác, chất lượng đảm bảo thỏa thuận.</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="row section-show-all">
                           <div class="col-5 row--bodyleft">
                              <i class="fas fa-star" ></i>
                              <span>THƯ VIỆN MẪU</span>
                           </div>
                           <div class="col-7 d-flex justify-content-end row--bodyright">
                              <p>+ Xem tất cả ></p>
                           </div>
                        </div>
                        <div class=" row cart-post ">
                           <div class="col-md-12 col-sm-12 col-12  ">
                              <div class=" row cart-post-horizontal">
                                 <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/noi that/123.jpg" alt="Denim Jeans">
                                 <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                    <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                    <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 col-sm-12 col-12  ">
                              <div class=" row cart-post-horizontal">
                                 <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/noi that/123.jpg" alt="Denim Jeans">
                                 <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                    <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                    <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 col-sm-12 col-12  ">
                              <div class=" row cart-post-horizontal">
                                 <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/noi that/123.jpg" alt="Denim Jeans">
                                 <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                    <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                    <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 col-sm-12 col-12  ">
                              <div class=" row cart-post-horizontal">
                                 <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/noi that/123.jpg" alt="Denim Jeans">
                                 <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                    <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                    <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section>
                <div class="row">
                    <div class="col">
                        <div class="title-post">
                            <H2>Thiết kế kiến trúc, thiết kế thi công nội thất</H2>
                         </div>
                    </div>
                    
                 <div class=" row cart-post ">
                     <div class="col-lg-3 ">
                        <div class="card-viewdetail-margin">
                           <p class="title-viewdetail">
                              Gói thông dụng
                           </p>
                           <p class="cost-viewdetail">
                              120.000 đ/m2
                           </p>
                           <hr>
                           <p>
                              Hồ sơ gồm: Kiến trúc, kết cấu, điện nước
                           </p>
                           <hr>
                           <p>
                              Thời gian hoàn thành: 3 tuần
                           </p>
                           <hr>
                           <p>
                              Bảo hành 4 năm
                           </p>
                           <hr>
                           <a type="button" class=" btn_viewdetail">
                             + Xem chi tiết
                           </a>
                        </div>
                     </div>
                     <div class="col-lg-3 ">
                        <div class="card-viewdetail-margin" style="box-shadow:0 1px 2px 0 #FF5400;">
                           <p class="title-viewdetail" style="background-color: #FF5400;">
                              Gói thông dụng
                           </p>
                           <p class="cost-viewdetail">
                              120.000 đ/m2
                           </p>
                           <hr>
                           <p>
                              Hồ sơ gồm: Kiến trúc, kết cấu, điện nước
                           </p>
                           <hr>
                           <p>
                              Thời gian hoàn thành: 3 tuần
                           </p>
                           <hr>
                           <p>
                              Bảo hành 4 năm
                           </p>
                           <hr>
                           <a type="button" class=" btn_viewdetail" style="background-color: #FF5400; border: none;">
                             + Xem chi tiết
                           </a>
                        </div>
                     </div>
                     <div class="col-lg-3 ">
                        <div class="card-viewdetail-margin">
                           <p class="title-viewdetail">
                              Gói thông dụng
                           </p>
                           <p class="cost-viewdetail">
                              120.000 đ/m2
                           </p>
                           <hr>
                           <p>
                              Hồ sơ gồm: Kiến trúc, kết cấu, điện nước
                           </p>
                           <hr>
                           <p>
                              Thời gian hoàn thành: 3 tuần
                           </p>
                           <hr>
                           <p>
                              Bảo hành 4 năm
                           </p>
                           <hr>
                           <a type="button" class=" btn_viewdetail">
                             + Xem chi tiết
                           </a>
                        </div>
                     </div>
                     <div class="col-lg-3 ">
                        <div class="card-viewdetail-margin">
                           <p class="title-viewdetail">
                              Gói thông dụng
                           </p>
                           <p class="cost-viewdetail">
                              120.000 đ/m2
                           </p>
                           <hr>
                           <p>
                              Hồ sơ gồm: Kiến trúc, kết cấu, điện nước
                           </p>
                           <hr>
                           <p>
                              Thời gian hoàn thành: 3 tuần
                           </p>
                           <hr>
                           <p>
                              Bảo hành 4 năm
                           </p>
                           <hr>
                           <a type="button" class=" btn_viewdetail">
                             + Xem chi tiết
                           </a>
                        </div>
                     </div>
                  </div>
                </div>
            </section>
               <section>
                   <div class="row">
                    <div class=" row cart-post ">
                        <div class="col-md-6 ">
                            <div class=" row cart-post-horizontal">
                               <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/camketvang.png" alt="Denim Jeans">
                               <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                  <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                  <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-6 ">
                            <div class=" row cart-post-horizontal">
                               <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/hopdongrorang.png" alt="Denim Jeans">
                               <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                  <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                  <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-6 ">
                            <div class=" row cart-post-horizontal">
                               <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/hotrotannoi.png" alt="Denim Jeans">
                               <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                  <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                  <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-6 ">
                            <div class=" row cart-post-horizontal">
                               <img class="col-lg-4 col-md-12 col-sm-12  " src="/vendor/image/kinhnghiemthucte.png" alt="Denim Jeans">
                               <div class="col-lg-8 col-md-12 col-sm-12 p-cart-horizontal">
                                  <h6>Thiết kế nội thất biệt thự liền kề trong khu độ thị ở Hà Nội</h6>
                                  <p >Thiết kế và thi công nội thất toàn gỗ cho căn nhà biệt thự của bạn.</p>
                               </div>
                            </div>
                         </div>
                    </div>
                   </div>
               </section>


            </div>
         </main>
         <footer class="footer--margin">
            <div class="row ">
               <div class="col" >
                  <p>
                     Ment.vn.COM là blog cá nhân chia sẻ những kiến thức đồ họa và kinh nghiệm làm website Wordpress cho tất cả mọi người. Mình rất yêu thích Nghệ thuật Thánh và Đồ họa Công giáo. Rất mong được kết bạn với đông đảo anh em Designer gần xa.
                  </p>
                  <ul class="footer-link-dot">
                     <li>
                        Hotline: 0937464945
                     </li>
                     <li>
                        Email: sacachi@gmail.com
                     </li>
                     <li>
                        Địa chỉ: Số 1 Đường số 6 khu An Cựu City - Phường An Đông - Thành phố Huế - Thừa Thiên - Huế
                     </li>
                     <li>
                        Website: site.ment.vn | site.ment.vn
                     </li>
                  </ul>
               </div>
               <div class="col">
                  <h2>
                     Hợp tác nội dung
                  </h2>
                  <p>
                     Ment.vn rất vinh dự được mời gọi các bạn Designer đóng góp những sản phẩm thiết kế hữu ích, để cùng chia sẻ rộng rãi tới mọi người!
                  </p>
                  <div class="row">
                     <ul class="li-inline" style="list-style-type: none; ">
                        <li>
                           <a  href=""><i class="fab fa-facebook fa-2x" style="color:rgba(0, 30, 255, 0.519);"></i></a>
                        </li>
                        <li>
                           <a href=""><i class="fab fa-twitter fa-2x" style="color:rgb(11, 89, 167);"></i></a>
                        </li>
                        <li>
                           <a href=""><i class="fas fa-envelope-square fa-2x" style="color:rgb(211, 78, 25);"></i></a>
                        </li>
                        <li></li>
                        <a href=""><i class="fab fa-pinterest fa-2x" style="color:rgb(237, 105, 105);"></i></a>
                        <li>
                           <a href=""><i class="fab fa-instagram-square fa-2x" style="color:rgb(171, 90, 32);"></i></a>
                        </li>
                     </ul>
                  </div>
                  <img style="margin: 10px;" src="/vendor/image/footer/Hostinger.jpg" alt="">
                  <button style="width: 50%; background-color: #FF5400; border-radius: 10px; border: none; margin: 10px; color: white;">+ Xem địa chỉ cửa hàng</button>
               </div>
               <div class="col">
                  <h2>Giao diện website bán chạy</h2>
                  <ul class="footer-link" style="list-style-type: none;">
                     <li>
                        <a   href="">+ gioithieucongty2. site.ment.vn</a> 
                     </li>
                     <li>
                        <a   href="">+ demo.site.ment.vn</a> 
                     </li>
                     <li>
                        <a   href="">+ gioithieucongty. site.ment.vn</a> 
                     </li>
                     <li>
                        <a   href="">+ shophoa. site.ment.vn</a> 
                     </li>
                     <li>
                        <a   href="">+ babyshop. site.ment.vn</a> 
                     </li>
                  </ul>
                  <h2>Tặng tôi 01 ly cà phê nhé!</h2>
                  <ul  class="footer-link" style="list-style-type: none;">
                     <li>
                        <a   href="">Chủ tài khoản: Ment.vn</a> 
                     </li>
                     <li>
                        <a   href="">Vietcombank: 0691000374599 - CN Hà Tây</a> 
                     </li>
                     <li>
                        <a   href="">Agribank: 2000206180703 - CN Đà Nẵng</a> 
                     </li>
                     <li>
                        <a   href="">ACB: 221262879 - CN Hà Thành</a> 
                     </li>
                     <li>
                        <a   href="">Vietinbank: : 104867788579 - CN Nam Thăng Long</a> 
                     </li>
                  </ul>
               </div>
            </div>
            <div class="row__footer--overight">
               <div class="row" style="background-color: #272727;">
                  <div class="col-md-6 d-flex justify-content-center">
                     <p style="margin: 10px;">© Bản quyền thuộc về Ment.vn | Thiết kế và duy trì bởi site.ment.vn</p>
                  </div>
                  <div class="col-md-6 d-flex justify-content-center">
                     <p style="margin: 10px;"> <a class="baymaulink" href="">Chat với tôi</a> | Hotline: 0937464945</p>
                  </div>
               </div>
            </div>
         </footer>
      </div>
   </body>
</html>